<div class="module filterfx">
	<h3>Filter FX</h3>
	On <input type="checkbox" class="slider-toggle">
	Freq <input class="slider-freq" type="range" min="0" max="1" step="0.01" value="0.5">
	Q <input class="slider-q" type="range" min="0" max="1" step="0.01" value="0.5">
</div>