<div class="module transport">
  	<h3>Transport</h3>
  	<button class="transport-play" title="Play">&#9658;</button>
	<button class="transport-stop" title="Stop">&#9632;</button>
	<input type="text" size="3" min="30" max="250" value="130" class="transport-tempo" />
</div>