<div class="module patterngrid">
	<h3>Pattern Grid</h3>
  	<div class="patterngrid-channels">
		{{#each channels}}
			<div class="channel" data-inst="{{ this }}"></div>
			<div class="sep"></div>
		{{/each}}
	</div>
</div>