
.channel span {
	display: inline-block;
	width: 20px;
	height: 50px;
	border: 1px solid silver;
	background: silver;
	margin: 2px;
	cursor: pointer;
}

.channel span.seq-step-measure {
	background: white;
}

.channel span.seq-note {
	background: blue;
}

.channel span.seq-playhead {
	border-color: blue;
}